*{
    margin: 0;
    padding: 0;
}
.primary-font{
  font-family: "Azeret Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.primary-color{
    color: #0D1321;
}
/* Nav Styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 55px 174px 53px;
}
.nav-logo{
    font-size: 28px;
    font-weight: 800;
}
.nav-button{
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
    border-radius: 8px;
    background-color: #ffffff;
}
/* Banner Style */
.banner{
    width: 100%;
    height: 80vh;
    background-image: url("/assets/Hero-bg.png");
    text-align: center;
}
.banner-title{
    font-size: 48px;
    font-weight: 800;
    margin: 0 auto;
    padding: 20px;
}
.banner-desc{
    font-size: 16px;
    font-weight: regular;
    color: #0D1321;
    line-height: 26px;
    margin-bottom: 20px;
}
.banner-button{
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px;
    background-color: #0D1321;
    color: #ffffff;
    border-radius: 8px;
}
/* Main Styles */
main{
    max-width: 1140px;
    padding: 0 150px;
    margin: 50px auto;
}
.purpose-container{
    text-align: center;
    margin: 70px auto;
}
.purpose-subtitle{
    margin-bottom: 80px;
}
.purpose-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    margin-top: 30px;
}
.purpose-items button{
    padding: 12px 20px;
    color: #0D1321;
    background-color: #ffffff;
    font-weight: 600;
}
.purpose-content{
    width: 75%;
}
.purpose-desc{
    margin-top: 16px;
    margin-bottom: 20px;
}
.inspiration-title{
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.inspiration-desc{
    text-align: center;
    margin: 20px;
}
.target{
    margin-top: 100px;  
    text-align: center;
}
.target-content{
    margin-bottom: 50px;
}
.target-title{
    margin-bottom: 30px;
}
.target-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 40px;
    text-align: left;
}
.target-items .item{
    box-shadow: 2px 2px 4px 5px #0D1321;
    padding: 25px;
}
.target-items h2, p{
    margin-top: 10px;
}
.target-items a{
    display: block;
    margin-top: 10px;
}
.target-next{
    margin-top: 100px;  
    text-align: center;
}
.target-next-content{
    margin-bottom: 50px;
}
.target-next-title{
    margin-bottom: 30px;
}
.target-next-items{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 40px;
    text-align: left;
}
.next-item{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 50px;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 5px #0D1321;
}
.item-content p{
    margin: 10px;
}
.support{
    background-image: url(../assets/handshake.jpg);
    height: 313px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.support-container{
    color: #ffffff;
    text-align: center;
    font-weight: 800;
    padding-top: 50px;
    margin-bottom: 80px;
}
.support-desc{
    color: #ffffff;
    font-size: 16px;
    font-weight: 100;
    margin: 16px 0 24px 0;
}
.support-input{
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
}
.support-container input[type="text"]{
    border-radius: 8px;
    border: none;
    padding: 19px 20px;
    width: 40%;
    color: rgba(13, 19, 33, 0.4);
    height: 0px;
}
.support-btn{
    border-radius: 8px;
    border: none;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
    padding: 8px 20px;
}
/* Footer Section Styles */
footer{
    display: flex;
    justify-content: space-between;
    padding: 32px 150px;
    align-items: center;
}
.footer-logo{
    font-size: 20px;
    font-weight: 600;
}
.footer-link{
    display: flex;
    gap: 20px;
    align-items: center;
}